*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.container__header{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: auto;
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,color-burn;

}

.content{
    width: 960px;
    height: 400px;
    display: flex;
    padding: 20px;
}

.container__title{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.container__title div{
    margin: auto;
    height: 70%;
    width: 100%;
}

.container__title p{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bungee Spice', sans-serif;
}

.container__title button{
    width: 50%;
    height: 20%;
    margin-top: 30px;
    border: none;
    text-align: center;
    border-radius: 10px;
    background-color: #6713d2;
    font-size: 1.3em;
    color: #fff;

}

.container__title button:hover{
    background-color: #f2f2f2;
    box-shadow: 0 0 20px #6713d2;
    cursor: pointer;
    transition: background-color .7s ease;
    color: #6713d2;
}

.fa-solid{
    animation: arrow_down 2s infinite;
    transition: animation 1s ease-in-out;
}

.img-profile{
    width: 30%;
    height: auto;
    margin: auto;
    border-radius: 2%;
    animation: flotar 5s ease-in-out infinite;
}

.title{
    font-size: 60px;
    color: #6713d2;
    animation: shadow-text 3s ease-in-out infinite;
}

.container__title span{
    color: red;
}

/* @keyframes flotar {
    0% {
        transform: translateY(5px);
    }
    25%{
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    75%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
} */
@keyframes flotar {
    0% {
        box-shadow: 10px -10px 5px rgba(33, 33, 33, 1), -20px -20px 5px rgba(33, 33, 33, 0.7), 30px -30px 5px rgba(33, 33, 33, 0.4), -40px 30px 5px rgba(33, 33, 33, 0.1);
    }
    50%{
        box-shadow: -10px 10px 5px rgb(191, 241, 9), 20px 20px 5px rgba(8, 40, 221, 0.7), -30px 30px 5px rgba(255, 0, 0, 0.938), 40px -30px 5px rgba(238, 7, 169, 0.1);
    }
    100%{
        box-shadow: 10px -10px 5px rgba(33, 33, 33, 1), -20px -20px 5px rgba(33, 33, 33, 0.7), 30px -30px 5px rgba(33, 33, 33, 0.4), -40px 30px 5px rgba(33, 33, 33, 0.1);
    }
}

@keyframes shadow-text {
    0%{
        text-shadow: 0 0 20px #020202;
    }
    50%{
        text-shadow: 0 0 20px #6713d2;
    }
    100%{
        text-shadow: 0 0 20px #020202;
    }
}

@keyframes arrow_down {
    from{
        transform: translateY(-5px);
    }
    to{
        transform: translateY(2px);
    }
}